@import 'tailwindcss';

@utility container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}

@theme {
  /* Color Theme */
  --color-gold-50: oklch(0.96 0.0177 92.68);
  --color-gold-100: oklch(0.96 0.0177 92.68);
  --color-gold-200: oklch(0.91 0.038 93.85);
  --color-gold-300: oklch(0.88 0.0569 93.99);
  --color-gold-400: oklch(0.84 0.0738 94.67);
  --color-gold-500: oklch(0.79 0.0915 93.8);
  --color-gold-600: oklch(0.72 0.1161 93.66);
  --color-gold-700: oklch(0.59 0.0945 93.74);
  --color-gold-800: oklch(0.44 0.0685 94.24);
  --color-gold-900: oklch(0.29 0.0409 94.02);
  --color-gold-950: oklch(0.19 0.0215 90.42);
  /* Font Variants */
  --font-markazi: 'Markazi Text';
  --font-montserrat: 'Montserrat';
  --font-ar-ibm: 'IBM Plex Sans Arabic';
  --font-marcellusSC: 'Marcellus SC', serif;
  --font-marcellus: 'Marcellus', serif;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  html[dir='ltr'] {
    @apply font-montserrat;
  }

  html[dir='rtl'] {
    @apply font-ar-ibm;
  }
}
