@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@utility container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}

@theme {
  /* Color Theme */
  --color-gold-50: oklch(0.96 0.0177 92.68);
  --color-gold-100: oklch(0.96 0.0177 92.68);
  --color-gold-200: oklch(0.91 0.038 93.85);
  --color-gold-300: oklch(0.88 0.0569 93.99);
  --color-gold-400: oklch(0.84 0.0738 94.67);
  --color-gold-500: oklch(0.79 0.0915 93.8);
  --color-gold-600: oklch(0.72 0.1161 93.66);
  --color-gold-700: oklch(0.59 0.0945 93.74);
  --color-gold-800: oklch(0.44 0.0685 94.24);
  --color-gold-900: oklch(0.29 0.0409 94.02);
  --color-gold-950: oklch(0.19 0.0215 90.42);
  /* Font Variants */
  --font-markazi: 'Markazi Text';
  --font-montserrat: 'Montserrat';
  --font-ar-ibm: 'Noto Kufi Arabic';
  --font-marcellusSC: 'Marcellus SC', serif;
  --font-marcellus: 'Marcellus', serif;

  --paragraphColor: var(--slate-700, #314158);
}

@layer utilities {
  /* Gold Color Utilities */
  .text-gold-50 {
    color: var(--color-gold-50);
  }
  .text-gold-100 {
    color: var(--color-gold-100);
  }
  .text-gold-200 {
    color: var(--color-gold-200);
  }
  .text-gold-300 {
    color: var(--color-gold-300);
  }
  .text-gold-400 {
    color: var(--color-gold-400);
  }
  .text-gold-500 {
    color: var(--color-gold-500);
  }
  .text-gold-600 {
    color: var(--color-gold-600);
  }
  .text-gold-700 {
    color: var(--color-gold-700);
  }
  .text-gold-800 {
    color: var(--color-gold-800);
  }
  .text-gold-900 {
    color: var(--color-gold-900);
  }
  .text-gold-950 {
    color: var(--color-gold-950);
  }
}

@layer base {
  html {
    margin: 0;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }

  section {
    overflow-x: hidden;
    @apply px-2 sm:py-16 lg:py-20 xl:py-24;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  h1 {
    @apply py-[16px] text-center text-[24px] leading-tight sm:text-start sm:text-[32px] lg:text-[48px];
  }

  h2 {
    @apply py-[16px] text-[24px] sm:items-center sm:text-[36px] lg:ltr:text-left lg:rtl:text-right;
  }

  h3 {
    @apply mb-2 text-[18px] font-medium ltr:text-left rtl:text-right;
  }

  p {
    color: var(--paragraphColor);
    @apply text-[16px] leading-[34px] lg:text-[18px] xl:text-[20px];
  }

  .border-gold-200 {
    border-bottom: 1px solid var(--color-gold-200);
  }

  html[dir='ltr'] {
    h1 {
      @apply font-marcellus;
    }
    h2 {
      @apply font-marcellus;
    }
    h3 {
      @apply font-marcellus;
    }
    p {
      @apply font-montserrat;
    }
  }

  html[dir='rtl'] {
    @apply font-ar-ibm;
  }
}
